[Desktop Entry]
Encoding=UTF-8
Name=CuteCom
MimeType=
GenericName=Serial Terminal
Comment=A graphical serial terminal
Exec=cutecom
Icon=cutecom
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=false
