[Desktop Entry]
Encoding=UTF-8
Name=CuteCom
GenericName=Serial Terminal
Exec=cutecom
Icon=cutecom
Type=Application
Terminal=0
X-KDE-StartupNotify=false
X-SuSE-translate=false
Categories=System;TerminalEmulator;
